:go:func home(pageTitle, user string, signIn bool)

doctype html
html(lang="en")
	head
		include base/head.jade
	body
        include base/navbar.jade
        .container
            h1 Jade - template engine
            #container.col
                if signIn
                    p You are amazing
                else
                    p Get on it!
                p.
                    Jade/Pug is a terse and simple
                    templating language with
                    a #[strong focus] on performance 
                    and powerful features.
		        footer
                    include base/footer.jade
