:go:func Index(pageTitle string, youAreUsingJade bool)

mixin for(golang)
	#cmd Precompile jade templates to #{golang} code.

doctype html
html(lang="en")
	head
		title= pageTitle
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css")
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js") 
	body
     #container
		h1 Jade - template engine
			+for('Go')

		#container.col
			if youAreUsingJade
				p You are amazing
			else
				p Get on it!
			p.
				Jade/Pug is a terse and simple
				templating language with
				a #[strong focus] on performance 
				and powerful features.
		footer
			include footer.jade
