:go:func Index(pageTitle string, signIn bool)

mixin for(golang)
	#cmd Precompile jade templates to #{golang} code.

doctype html
html(lang="en")
	include ./base/header.jade
	body
    include ./base/navbar.jade
     .container
		h1 Jade - template engine
			+for('Go')

		#container.col
			if signIn
				p You are amazing
			else
				p Get on it!
			p.
				Jade/Pug is a terse and simple
				templating language with
				a #[strong focus] on performance 
				and powerful features.
		footer
			include ./base/footer.jade
