$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);

$colors:(primary : rgb(52, 106, 255),
    primary-light : lighten(rgb(52, 106, 255), 40%),
    acient: #d8ecaa,
);
$desktop : 840px;

@function color($color-name) {
    @return map-get($colors, $color-name)
}

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

body,
html {
    height: 100%;
}

body {
    background-color: color(acient);
    font-size: small;
    margin: 0;
    font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;

    @include desktop {
        font-size: medium;
    }
}

.breadcrumb {
    background-color: color(acient);
    padding: 0%;
}