[%extends "../layouts/base.html"%]

[%block documentBody()%]

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<div class="container">
  <h1>
    Hallo admin [%.title%]
  </h1>
  <div id="hello-vue" class="demo">
    {{ msg }}
    <div class="row">
      <form @submit.prevent="handlePost">
        <div class="form-group">
          <input v-model="user.username" type="text" name="name" class="form-control my-input" id="name"
            placeholder="Name" />
        </div>
        <br />
        <div class="form-group">
          <input v-model="user.email" type="email" name="email" class="form-control my-input" id="email"
            placeholder="Email" />
        </div>
        <br />
        <div class="form-group">
          <input v-model="user.password" type="password" min="4" name="password" id="password"
            class="form-control my-input" placeholder="Password" />
        </div>
        <br />
        <div class="text-center">
          <button type="submit" class="btn btn-primary">
            Create Your Free Account
          </button>
        </div>
      </form>
    </div>
    <div class="row">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(u, index) in users" :key="u.ID">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ u.username }}</td>
            <td>{{ u.email }}</td>
            <td>
              <a @click="handleDelete(u.ID)" class="btn">
                <i class="far fa-trash-alt"></i>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    {{json}}
  </div>
</div>
<script>
  new Vue({
    el: "#hello-vue",
    data() {
      return {
        users: null,
        msg: "",
        json: [],
        showModal: false,
        user: {
          username: "",
          email: "",
          password: "",
        }
      }
    },
    mounted() {
      this.handleQuery();
    },
    methods: {
      callhttp() {
        this.json = call("https://jsonplaceholder.typicode.com/posts")
      },
      handleQuery() {
        axios
          .get("/userapi/query")
          .then((res) => {
            this.users = res.data.users;
          })
          .catch((err) => {
            console.log(err);
          });
      },
      handlePost() {
        axios
          .post("./userapi", this.user, {
            "Content-Type": "application/x-www-form-urlencoded",
          })
          .then((res) => {
            this.msg = res.data.msg;
            this.handleQuery();

          })
          .catch((err) => {
            this.msg = err.response.data.msg;
          });
      },
      handleDelete(key) {
        axios
          .delete("/userapi/" + key)
          .then((res) => {
            console.log(res);
            this.handleQuery();
          })
          .catch((err) => {
            console.log(err);
          });
      },
    }
  })
</script>

[%end%]